<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

  <!--Выносим значения свойств в отдельный файл-->
  <context:property-placeholder location="props.properties"/>

<!--  <bean id="defaultMessageProvider" class="ru.edu.DefaultMessageProvider"></bean>-->
  <bean id="argumentMessageProvider" class="ru.edu.ArgumentMessageProvider">
    <constructor-arg name="args">
      <list>
        <!--из props.properties-->
        <value>${default.message}</value>
        <value>Param2</value>
        <value>Param3</value>
      </list>
    </constructor-arg>
  </bean>

  <bean id="jsonMessageRender" class="ru.edu.JsonMessageRender">
    <property name="messageProvider" ref="argumentMessageProvider"> </property>
  </bean>
</beans>